*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lightblue;

}
.chatbox {
    margin-top: 5%;
    width: 100%;
    height: 500px;
    background-color: #f6f6f6;
    border: 2px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    float: center;
  }
  
  .chatlogs {
    padding: 10px;
    height: 400px;
    overflow-y: scroll;
  }
  
  .chat {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin-bottom: 10px;
  }
  
  .friend {
    justify-content: flex-start;
  }
  .chat-form{
    width: 100%;
    padding: 30px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    float: center;
    
  }
  button{
    background-color: #457ed2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  input{
    height: 50px;
    width: 90%;
    float: center;
    display: inline;
  }

  button a{
    background-color: #457ed2;
    text-decoration: none;
    color: black;
}
footer{
    text-align: center;
    margin-top: 13px;
}
h1{
    margin-top: 10px;
    font-size:50px;
    text-align: center;
}